<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
    <div class="text-muted py-5">
        <div class="container" style="width: auto; max-width: 680px; padding: 0 15px">
            <span class="text-muted">
                <p class="float-end mb-1">
                    <a href="#" style="text-decoration: none">Back to top</a>
                </p>
                <p class="mb-1">Vivla is &copy; of Bootstrap, downloaded and customized by myself in educational purposes!</p>
            </span>
        </div>
    </div>
    <div>
        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
        <script src="/js/bootstrap.esm.js"></script>
        <script src="/js/bootstrap.esm.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!--TinyMCE -->
        <script src="https://cdn.tiny.cloud/1/0x5uf6b98iecyt3db0bm1egibpg0y4a9vsinrj0uabi1qo8r/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>tinymce.init({selector:'textarea'});</script>
    </div>
</footer>
